BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 125
SortIncludes: true
IncludeBlocks: Regroup
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakTemplateDeclarations: Yes
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: NonAssignment
ContinuationIndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true